{{partial 'navbar'}}

<img src="{{testsrc}}" class="testImg" />

<ol class="list-group">
  
  <li class="list-group-item">
    <strong>1.</strong> Recreate the above image.
  </li>
  
  <li class="list-group-item clearfix">
    <strong>2.</strong> Upload the result:
    {{svg-upload action='assessFile'}}
  </li>
  
  <li class="list-group-item">
    <strong>3.</strong> Result:
    <div id="submission"></div>
  </li>
  
  <li class="list-group-item disabled">
    <button class="btn btn-primary btn-lg btn-block" disabled={{nextdisabled}} {{action 'postResult'}}>
      Next task
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </li>
  
</ol>
