{{nav-bar tests=tests active=taskactive}}

<img src="{{tasksrc}}" class="test-img" />

<ol class="list-group" id="steps">
  
  <li class="list-group-item">
    <a {{action 'activateNextStep' on='mouseDown'}} download="Task_{{taskactive}}.png" href="{{tasksrc}}" title="Task {{taskactive}}">Download</a>
    and recreate the above image.
  </li>
  
  <li class="list-group-item disabled">
    Upload the result:
    {{svg-upload browsedisabled=browsedisabled action='assessFile'}}
  </li>
  
  <li class="list-group-item disabled">
    <div id="submission"></div>
  </li>
  
  <li class="list-group-item disabled">
    <button disabled={{nextdisabled}} {{action 'postResult'}}>
      Next task
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </li>
  
</ol>
