{{nav-bar tests=tests active=active}}

<img src="{{testsrc}}" class="testImg" />

<ol class="list-group">
  
  <li class="list-group-item">
    <strong>1.</strong>
    <a download="task{{active}}" href="{{testsrc}}" title="task{{active}}">
      Download
    </a>
    and recreate the above image.
  </li>
  
  <li class="list-group-item clearfix">
    <strong>2.</strong> Upload the result:
    {{svg-upload action='assessFile'}}
  </li>
  
  <li class="list-group-item">
    <strong>3.</strong>
    Result:
    <div id="submission"></div>
  </li>
  
  <li class="list-group-item" disabled={{nextdisabled}}>
    <strong>4.</strong>
    <button disabled={{nextdisabled}} {{action 'postResult'}}>
      Next task
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </li>
  
</ol>