{{nav-bar tests=tests taskactive=taskactive}}

<div id="answers" class="hide">
  {{svg-answers}}
</div>

<img src="assets/images/tests/{{tasksrc}}.png" class="test-img" />

<ol class="list-group" id="steps">
  
  <li class="list-group-item">
    Download
    <a {{action 'activateNextStep' on='mouseDown'}}
       download="assets/images/tests/ai/{{tasksrc}}.ai"
       href="assets/images/tests/ai/{{tasksrc}}.ai"
       title="{{tasksrc}}.ai">
      Illustrator
    </a>
    |
    <a {{action 'activateNextStep' on='mouseDown'}}
       download="assets/images/tests/cdr/{{tasksrc}}.cdr"
       href="assets/images/tests/cdr/{{tasksrc}}.cdr"
       title="{{tasksrc}}.cdr">
      CorelDRAW
    </a>
    |
    <a {{action 'activateNextStep' on='mouseDown'}}
       download="assets/images/tests/ink/{{tasksrc}}.svg"
       href="assets/images/tests/ink/{{tasksrc}}.svg"
       title="{{tasksrc}}.svg">
      Inkscape
    </a>
    template and recreate the above image.
  </li>
  
  <li class="list-group-item disabled">
    Upload the result:
    {{svg-upload browsedisabled=browsedisabled action='assessFile'}}
  </li>
  
  <li class="list-group-item disabled">
    <div id="submission"></div>
  </li>
  
  <li class="list-group-item disabled">
    <button disabled={{nextdisabled}} {{action 'postResult'}}>
      Next task
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </li>
  
</ol>
